#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}
/* From Uiverse.io by reshades */ 
/* From Uiverse.io by reshades */ 
.button {
  background-color: #ffffff00;
  color: #fff;
  width: 8.5em;
  height: 2.9em;
  border: #00000000 0.2em solid;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
}

.button:hover {
  background-color: #3654ff;
}

.button svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}
.dir{
  position: absolute;
  top:90vh;
  left: 49vw;
  width: 100vw;
  height: 100vw;
  transform: translateX(-10%);
}

.button:hover svg {
  transform: translateX(5px);
}

.text {
  margin: 0 1.5em;
  font-size:30px;
}

.laptop .iframe{
  width: 250px;       /* Diameter of the circle */
  height: 250px;      /* Diameter of the circle */
  background-color: white; /* White background */
  border-radius: 50%; /* Makes the element a circle */
  
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
}
